## For Loops

In [1]:
ciudades = ['Ginebra','Torino','Niza','Annecy']

In [3]:
for ciudad in ciudades:
    print(ciudad)

Ginebra
Torino
Niza
Annecy

## While Loops

In [10]:
import time #importing time library to use time.sleep function

In [11]:
numero = 0 #initial value
while numero < 5: #establishing the initial value
    numero +=1 #adding up the number
    time.sleep(1) # waiting 1 second for the print function
    print(f'el numero ahora es {numero}')

el numero ahora es 1
el numero ahora es 2
el numero ahora es 3
el numero ahora es 4
el numero ahora es 5

## Iterating over a dictionary

In [12]:
movies = {
    'Name':'Star Wars',
    'Director': 'George Lucas',
    'Year':1977,
    'Production':'20th Century Fox'
}

In [17]:
movies['Name']

'Star Wars'

In [18]:
for key in movies:
    print(key.title())

Name
Director
Year
Production

In [22]:
for key in movies:
    print(key.title(),'=>',movies[key])

Name => Star Wars
Director => George Lucas
Year => 1977
Production => 20th Century Fox

## Exceptions

In [25]:
#let's start with the following validation
edad = 17
if edad > 18:
    print('allowed to drink')
else:
    print('not old enough, sorry')

not old enough, sorry

In [26]:
#But what happens if the number is not written as number, but as a string?
edad = '17'
if edad > 18:
    print('allowed to drink')
else:
    print('not old enough, sorry')

TypeError: '>' not supported between instances of 'str' and 'int'

In [28]:
#System tells us that the operator > is not supported for str... let's use try instead:
edad = '17'
try:
    if edad > 18:
        print('allowed to drink')
    else:
        print('not old enough, sorry')
except:
    print('hmmm... something is not working, check code')

hmmm... something is not working, check code

In [33]:
"""
so, now we are identifying that something is not right, but how to properly address it?
we check the error above, which said:
TypeError: > not supported between instances of str and int
And now, we build it into the code
"""
edad = '17'
try:
    if edad > 18:
        print('allowed to drink')
    else:
        print('not old enough, sorry')
except TypeError:
    print('check code, probably wrong type')

check code, probably wrong type